In [7]:
# Importamos las bibliotecas necesarias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
#Leer el documento con ayuda de la funcion read_csv
df = pd.read_csv("vid.dat", sep=',')

In [10]:
#Vemos todas las columnas que existen , sin embargo solo nos interesan 
#Las variables TIMESTAMP (Fecha) y  AirTC_Avg (Temperatura del aire, ºC).
df.head()

,TIMESTAMP,RECORD,batt_volt_Min,logger_temp,short_up_Avg,short_dn_Avg,long_up_Avg,long_dn_Avg,cnr4_T_C_Avg,cnr4_T_K_Avg,...,Result2_Avg,Result3_Avg,Result4_Avg,Result5_Avg,Result6_Avg,Result7_Avg,Result8_Avg,Result9_Avg,Riego_mm_Tot,Perco_mm_Tot
0,2018-05-11 20:10:00,7980,12.31,25.87,-5.499501,1.581859,-82.19471,-4.002829,23.26391,296.4139,...,0.04,26.4,79.5,0.041,14.71,14.75,15.09,14.45,0.0,0
1,2018-05-11 20:20:00,7981,12.30,25.37,-4.934265,1.946161,-80.00718,-1.978131,22.75189,295.9019,...,0.04,26.4,79.5,0.041,14.71,14.75,15.09,14.45,0.0,0
2,2018-05-11 20:30:00,7982,12.28,24.91,-4.615617,2.407313,-76.72183,-1.868207,22.43361,295.5836,...,0.04,26.4,79.5,0.041,14.71,14.75,15.09,14.46,0.0,0
3,2018-05-11 20:40:00,7983,12.27,24.47,-4.433317,2.523456,-73.10189,-3.367143,22.08901,295.2390,...,0.04,26.4,79.5,0.041,14.71,14.75,15.09,14.45,0.0,0
4,2018-05-11 20:50:00,7984,12.26,24.09,-2.861873,3.898805,-70.19295,0.915511,22.08449,295.2345,...,0.04,26.4,79.5,0.041,14.70,14.76,15.08,14.46,0.0,0

In [12]:
#Veremos como han sido identificados los datos , como observamos debemos modifcar el Timestamp de manera que logremos un datatime 
#AirTC_Avg  es reconocida como float64
df.dtypes

TIMESTAMP            object
RECORD                int64
batt_volt_Min       float64
logger_temp         float64
short_up_Avg        float64
short_dn_Avg        float64
long_up_Avg         float64
long_dn_Avg         float64
cnr4_T_C_Avg        float64
cnr4_T_K_Avg        float64
long_up_corr_Avg    float64
long_dn_corr_Avg    float64
Rs_net_Avg          float64
Rl_net_Avg          float64
albedo_Avg           object
Rn_Avg              float64
AirTC_Avg           float64
RH                  float64
WS_ms_S_WVT         float64
WindDir_D1_WVT      float64
WindDir_SD1_WVT     float64
Temp_C_Avg(1)       float64
Temp_C_Avg(2)       float64
Temp_C_Avg(3)       float64
Temp_C_Avg(4)        object
Result1_Avg          object
Result2_Avg         float64
Result3_Avg         float64
Result4_Avg         float64
Result5_Avg         float64
Result6_Avg         float64
Result7_Avg         float64
Result8_Avg         float64
Result9_Avg         float64
Riego_mm_Tot        float64
Perco_mm_Tot          int64
dtype: object

In [15]:
df['TIMESTAMP'] = pd.to_datetime (df['TIMESTAMP'])
df["Mes"] = df["TIMESTAMP"].dt.month
df["Año"] = df["TIMESTAMP"].dt.year
df["Dia"] = df["TIMESTAMP"].dt.day
df["Hora"] = df["TIMESTAMP"].dt.hour
df["Minutos"] = df["TIMESTAMP"].dt.minute

In [23]:
#Verificamos 
df.dtypes

TIMESTAMP           datetime64[ns]
RECORD                       int64
batt_volt_Min              float64
logger_temp                float64
short_up_Avg               float64
short_dn_Avg               float64
long_up_Avg                float64
long_dn_Avg                float64
cnr4_T_C_Avg               float64
cnr4_T_K_Avg               float64
long_up_corr_Avg           float64
long_dn_corr_Avg           float64
Rs_net_Avg                 float64
Rl_net_Avg                 float64
albedo_Avg                  object
Rn_Avg                     float64
AirTC_Avg                  float64
RH                         float64
WS_ms_S_WVT                float64
WindDir_D1_WVT             float64
WindDir_SD1_WVT            float64
Temp_C_Avg(1)              float64
Temp_C_Avg(2)              float64
Temp_C_Avg(3)              float64
Temp_C_Avg(4)               object
Result1_Avg                 object
Result2_Avg                float64
Result3_Avg                float64
Result4_Avg                float64
Result5_Avg                float64
Result6_Avg                float64
Result7_Avg                float64
Result8_Avg                float64
Result9_Avg                float64
Riego_mm_Tot               float64
Perco_mm_Tot                 int64
Mes                          int64
Año                          int64
Dia                          int64
Hora                         int64
Minutos                      int64
dtype: object

In [24]:
df.head()

,TIMESTAMP,RECORD,batt_volt_Min,logger_temp,short_up_Avg,short_dn_Avg,long_up_Avg,long_dn_Avg,cnr4_T_C_Avg,cnr4_T_K_Avg,...,Result7_Avg,Result8_Avg,Result9_Avg,Riego_mm_Tot,Perco_mm_Tot,Mes,Año,Dia,Hora,Minutos
0,2018-05-11 20:10:00,7980,12.31,25.87,-5.499501,1.581859,-82.19471,-4.002829,23.26391,296.4139,...,14.75,15.09,14.45,0.0,0,5,2018,11,20,10
1,2018-05-11 20:20:00,7981,12.30,25.37,-4.934265,1.946161,-80.00718,-1.978131,22.75189,295.9019,...,14.75,15.09,14.45,0.0,0,5,2018,11,20,20
2,2018-05-11 20:30:00,7982,12.28,24.91,-4.615617,2.407313,-76.72183,-1.868207,22.43361,295.5836,...,14.75,15.09,14.46,0.0,0,5,2018,11,20,30
3,2018-05-11 20:40:00,7983,12.27,24.47,-4.433317,2.523456,-73.10189,-3.367143,22.08901,295.2390,...,14.75,15.09,14.45,0.0,0,5,2018,11,20,40
4,2018-05-11 20:50:00,7984,12.26,24.09,-2.861873,3.898805,-70.19295,0.915511,22.08449,295.2345,...,14.76,15.08,14.46,0.0,0,5,2018,11,20,50

In [26]:
df.tail()

,TIMESTAMP,RECORD,batt_volt_Min,logger_temp,short_up_Avg,short_dn_Avg,long_up_Avg,long_dn_Avg,cnr4_T_C_Avg,cnr4_T_K_Avg,...,Result7_Avg,Result8_Avg,Result9_Avg,Riego_mm_Tot,Perco_mm_Tot,Mes,Año,Dia,Hora,Minutos
40655,2019-02-18 06:50:00,48635,11.61,3.362,-1.776600,2.571530,-53.13052,2.670616,3.117354,276.2673,...,12.55,14.73,13.46,0.0,0,2,2019,18,6,50
40656,2019-02-18 07:00:00,48636,11.61,3.292,-1.077401,2.411934,-52.01003,2.935615,3.046169,276.1962,...,12.55,14.73,13.46,0.0,0,2,2019,18,7,0
40657,2019-02-18 07:10:00,48637,11.61,3.238,1.723268,2.787672,-52.14503,3.190970,2.968822,276.1188,...,12.55,14.73,13.46,0.0,0,2,2019,18,7,10
40658,2019-02-18 07:20:00,48638,11.64,3.185,9.203125,4.473552,-52.09697,3.894265,2.862444,276.0124,...,12.55,14.74,13.45,0.0,0,2,2019,18,7,20
40659,2019-02-18 07:30:00,48639,11.68,3.168,17.604130,6.581989,-51.49600,4.510994,3.033075,276.1830,...,12.55,14.73,13.46,0.0,0,2,2019,18,7,30

In [27]:
# Debemos sumar UF24 según el modelo de Utah 
#
#              Modelo Utah
# TEMPERATURA   _________  UF CORRESPONDIENTE A 1 HORA 
#    < 1,4      _________     0 
#  1.5 a 2.4    _________    0.5 
#  2.5 a 9.1    _________    1.0
#  9.2 a 12.4   _________    0.5 
#  12.5 a 15.9  _________     0
#  16.0 a 18.0  _________   -0.5 
#    > 18.0     _________   -1.0
#
# Se nos solicita realizar el análisis a partir del 1 de noviembre del 2018 (1/11/2018)
# es decir Año > 2017 , Mes > 11 
# "AirTC_Avg"

In [ ]:
#Primero calculemos la temperatura promedio por dia
#Contadores
c = 0
d = 0
#Temperatura acumulada en una hora
h = 0
#Temperatura promedio
tp = 0
#Dataframe
UF = pd.DataFrame(columns=['Dia', 'HorasUF'])
for i in range (0,len(df)):  
    if (df["Año"][i] > 2018 ):
        c = c + 1
        if(df["Hora"][i] != df["Hora"][i+1])
            h = h + df["AirTC_Avg"][i]
            d = h / c
            
        elif(df["Mes"][j] => 8 ):

In [97]:
df.head()

,TIMESTAMP,RECORD,batt_volt_Min,logger_temp,short_up_Avg,short_dn_Avg,long_up_Avg,long_dn_Avg,cnr4_T_C_Avg,cnr4_T_K_Avg,...,Result7_Avg,Result8_Avg,Result9_Avg,Riego_mm_Tot,Perco_mm_Tot,Mes,Año,Dia,Hora,Minutos
0,2018-05-11 20:10:00,7980,12.31,25.87,-5.499501,1.581859,-82.19471,-4.002829,23.26391,296.4139,...,14.75,15.09,14.45,0.0,0,5,2018,11,20,10
1,2018-05-11 20:20:00,7981,12.30,25.37,-4.934265,1.946161,-80.00718,-1.978131,22.75189,295.9019,...,14.75,15.09,14.45,0.0,0,5,2018,11,20,20
2,2018-05-11 20:30:00,7982,12.28,24.91,-4.615617,2.407313,-76.72183,-1.868207,22.43361,295.5836,...,14.75,15.09,14.46,0.0,0,5,2018,11,20,30
3,2018-05-11 20:40:00,7983,12.27,24.47,-4.433317,2.523456,-73.10189,-3.367143,22.08901,295.2390,...,14.75,15.09,14.45,0.0,0,5,2018,11,20,40
4,2018-05-11 20:50:00,7984,12.26,24.09,-2.861873,3.898805,-70.19295,0.915511,22.08449,295.2345,...,14.76,15.08,14.46,0.0,0,5,2018,11,20,50

In [63]:
UF = pd.DataFrame(columns=['Fecha', 'HorasUF'])


UF.head()

Empty DataFrame
Columns: [Fecha, HorasUF]
Index: []

  Fecha HorasUF
1  2018      12

In [76]:
if(2 > 3 ):
    print("Hello")
elif (2 == 2):
    print("HI")

HI

In [87]:
for  i in range (1,7):
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello