In [2]:
import pandas as pd
import numpy as np

In [9]:
# Leer el archivo de datos descargado. Estación en Campo Experimental UniSon.
# Datos separados por espacios, ignorando los primeros 20 renglones y el último renglón.
# Se reasignan nombres a las columnas de la tabla de datos (Sin espacios, ni caracteres especiales). 
df0 = pd.read_csv("arizpe.txt", sep="\s+", skiprows=20, skipfooter=1, engine='python', 
                  names=['Fecha', 'Precip', 'Evap', 'Tmax', 'Tmin'])
# Reemplazar  los Nulos con NA (datos no disponibles)
df0 = df0.replace('Nulo','NA')
# Verificar
df0.head(), df0.tail()

(        Fecha Precip Evap Tmax Tmin
 0  10/04/1961      0   NA   28   NA
 1  11/04/1961      0  6.4   28   14
 2  12/04/1961      0  7.6   31  9.5
 3  13/04/1961      0   11   30  8.5
 4  14/04/1961      0  8.7   30    7,             Fecha Precip Evap Tmax Tmin
 13791  27/07/2011      0   NA   31   16
 13792  28/07/2011     26   NA   34   18
 13793  29/07/2011      2   NA   31   15
 13794  30/07/2011      0   NA   32   17
 13795  31/07/2011      0   NA   NA   19)

In [10]:
df0.dtypes

Fecha     object
Precip    object
Evap      object
Tmax      object
Tmin      object
dtype: object

In [11]:
# Convertir Fecha a nueva variable tipo fecha NFecha (datetime64)
df0['NFecha'] =  pd.to_datetime(df0['Fecha'], format='%d/%m/%Y')
# Convertir las otras variables a flotantes (float64)
df0[['Precip','Evap','Tmax','Tmin']] = df0[['Precip','Evap','Tmax','Tmin']] \
.apply(pd.to_numeric, errors='coerce')
# Eliminar columna Fecha que ya no se utilzará
df0 = df0.drop('Fecha', 1)
# Verificar
df0.dtypes

Precip           float64
Evap             float64
Tmax             float64
Tmin             float64
NFecha    datetime64[ns]
dtype: object

In [12]:
df0.describe()

             Precip         Evap          Tmax          Tmin
count  13780.000000  8623.000000  13406.000000  13407.000000
mean       1.233193     6.088658     29.129845     10.388215
std        5.145288     3.026133      7.423063      6.861518
min        0.000000     0.100000     -1.000000    -12.000000
25%        0.000000     3.600000     23.000000      5.000000
50%        0.000000     5.800000     30.000000      9.500000
75%        0.000000     8.100000     35.000000     16.500000
max       87.500000    17.500000     48.000000     35.000000

In [13]:
# Crear columnas con Año y Mes extraídos de la fecha 
df0['Año'] = df0['NFecha'].dt.year
df0['Mes'] = df0['NFecha'].dt.month
df0.head(),df0.tail()

(   Precip  Evap  Tmax  Tmin     NFecha   Año  Mes
 0     0.0   NaN  28.0   NaN 1961-04-10  1961    4
 1     0.0   6.4  28.0  14.0 1961-04-11  1961    4
 2     0.0   7.6  31.0   9.5 1961-04-12  1961    4
 3     0.0  11.0  30.0   8.5 1961-04-13  1961    4
 4     0.0   8.7  30.0   7.0 1961-04-14  1961    4,
        Precip  Evap  Tmax  Tmin     NFecha   Año  Mes
 13791     0.0   NaN  31.0  16.0 2011-07-27  2011    7
 13792    26.0   NaN  34.0  18.0 2011-07-28  2011    7
 13793     2.0   NaN  31.0  15.0 2011-07-29  2011    7
 13794     0.0   NaN  32.0  17.0 2011-07-30  2011    7
 13795     0.0   NaN   NaN  19.0 2011-07-31  2011    7)

In [14]:

# Número de años distintos df0['Año'].unique(),
NumA = len(df0['Año'].unique())
print(NumA, "años de datos")

43 años de datos

In [16]:
# Calcular la precipitación promedio de un mes (Sumar Precip y dividir entre número de Años)
# Mes a mes ... a pie
PrecipEne = df0[(df0['Mes'] == 1)]['Precip'].sum()/NumA
PrecipFeb = df0[(df0['Mes'] == 2)]['Precip'].sum()/NumA
print("Enero:",PrecipEne, "mm")
print("Febrero:",PrecipFeb, "mm")

Enero: 22.3 mm
Febrero: 20.144186046511628 mm

In [17]:
# Para encontrar los meses más lluviosos
# O hacer un loop para recorrer cada mes, recordando que Python cuenta desde 0,1,2,...
# Calcular la suma de precipitación y dividir entre el número de años
total=0.0
for i in range(12):
    PrecipMensual = df0['Precip'][df0['Mes']==[i+1]].sum()/NumA
    total=total+PrecipMensual
    print("Mes", i+1,":", np.round(PrecipMensual, decimals=2), "mm", ", Acumulada:", 
          np.round(total, decimals=2), "mm")

Mes 1 : 22.3 mm , Acumulada: 22.3 mm
Mes 2 : 20.14 mm , Acumulada: 42.44 mm
Mes 3 : 14.19 mm , Acumulada: 56.63 mm
Mes 4 : 4.88 mm , Acumulada: 61.51 mm
Mes 5 : 4.12 mm , Acumulada: 65.63 mm
Mes 6 : 18.78 mm , Acumulada: 84.41 mm
Mes 7 : 121.06 mm , Acumulada: 205.47 mm
Mes 8 : 92.37 mm , Acumulada: 297.84 mm
Mes 9 : 38.41 mm , Acumulada: 336.25 mm
Mes 10 : 19.06 mm , Acumulada: 355.31 mm
Mes 11 : 14.8 mm , Acumulada: 370.11 mm
Mes 12 : 25.08 mm , Acumulada: 395.2 mm

In [18]:

# Calcular la temperatura promedio Tmin (meses fríos) y Tmax (meses cálidos)

for i in range(12):
    TminPromMensual = df0[df0['Mes']==i+1]['Tmin'].sum()/df0[df0['Mes'] ==i+1]['Tmin'].count()
    print("Tmin Mes", i+1,":", np.round(TminPromMensual, decimals=2), "ºC")
  
print(" ")
    
for i in range(12):
    TmaxPromMensual = df0[df0['Mes']==i+1]['Tmax'].sum()/df0[df0['Mes'] ==i+1]['Tmax'].count()
    print("Tmax Mes", i+1,":", np.round(TmaxPromMensual, decimals=2), "ºC")

Tmin Mes 1 : 2.83 ºC
Tmin Mes 2 : 4.15 ºC
Tmin Mes 3 : 5.61 ºC
Tmin Mes 4 : 8.01 ºC
Tmin Mes 5 : 11.3 ºC
Tmin Mes 6 : 16.52 ºC
Tmin Mes 7 : 19.64 ºC
Tmin Mes 8 : 18.9 ºC
Tmin Mes 9 : 17.08 ºC
Tmin Mes 10 : 12.22 ºC
Tmin Mes 11 : 6.44 ºC
Tmin Mes 12 : 3.12 ºC

Tmax Mes 1 : 20.18 ºC
Tmax Mes 2 : 22.82 ºC
Tmax Mes 3 : 25.35 ºC
Tmax Mes 4 : 28.89 ºC
Tmax Mes 5 : 32.98 ºC
Tmax Mes 6 : 38.14 ºC
Tmax Mes 7 : 36.57 ºC
Tmax Mes 8 : 35.02 ºC
Tmax Mes 9 : 34.51 ºC
Tmax Mes 10 : 30.83 ºC
Tmax Mes 11 : 24.86 ºC
Tmax Mes 12 : 20.56 ºC

In [23]:

# Número de datos faltantes por año
for i in range(1982,2011):
    NumDatos= df0['Precip'][df0['Año']==[i+1]].count()
    print("Año:", i+1, "Num Datos", NumDatos, ", ", np.round(NumDatos/365.0, decimals=2), "%")

Año: 1983 Num Datos 365 ,  1.0 %
Año: 1984 Num Datos 366 ,  1.0 %
Año: 1985 Num Datos 154 ,  0.42 %
Año: 1986 Num Datos 334 ,  0.92 %
Año: 1987 Num Datos 120 ,  0.33 %
Año: 1988 Num Datos 152 ,  0.42 %
Año: 1989 Num Datos 0 ,  0.0 %
Año: 1990 Num Datos 0 ,  0.0 %
Año: 1991 Num Datos 0 ,  0.0 %
Año: 1992 Num Datos 0 ,  0.0 %
Año: 1993 Num Datos 0 ,  0.0 %
Año: 1994 Num Datos 0 ,  0.0 %
Año: 1995 Num Datos 0 ,  0.0 %
Año: 1996 Num Datos 95 ,  0.26 %
Año: 1997 Num Datos 148 ,  0.41 %
Año: 1998 Num Datos 119 ,  0.33 %
Año: 1999 Num Datos 0 ,  0.0 %
Año: 2000 Num Datos 158 ,  0.43 %
Año: 2001 Num Datos 365 ,  1.0 %
Año: 2002 Num Datos 365 ,  1.0 %
Año: 2003 Num Datos 365 ,  1.0 %
Año: 2004 Num Datos 366 ,  1.0 %
Año: 2005 Num Datos 365 ,  1.0 %
Año: 2006 Num Datos 364 ,  1.0 %
Año: 2007 Num Datos 335 ,  0.92 %
Año: 2008 Num Datos 366 ,  1.0 %
Año: 2009 Num Datos 365 ,  1.0 %
Año: 2010 Num Datos 365 ,  1.0 %
Año: 2011 Num Datos 212 ,  0.58 %

In [25]:
# Años húmedos y años secos
# Años incompletos 1981, 1998 - se excluyen
for i in range(1982,1997):
    PrecipAnual = df0['Precip'][df0['Año']==[i+1]].sum()
    print("Año", i+1,":", PrecipAnual, "mm")

Año 1983 : 803.8 mm
Año 1984 : 597.5 mm
Año 1985 : 212.4 mm
Año 1986 : 510.0 mm
Año 1987 : 53.8 mm
Año 1988 : 74.5 mm
Año 1989 : 0.0 mm
Año 1990 : 0.0 mm
Año 1991 : 0.0 mm
Año 1992 : 0.0 mm
Año 1993 : 0.0 mm
Año 1994 : 0.0 mm
Año 1995 : 0.0 mm
Año 1996 : 0.0 mm
Año 1997 : 36.900000000000006 mm

In [28]:
df0.mean()

Precip       1.233193
Evap         6.088658
Tmax        29.129845
Tmin        10.388215
Año       1983.585242
Mes          6.518121
dtype: float64

In [29]:
df0.std()

Precip     5.145288
Evap       3.026133
Tmax       7.423063
Tmin       6.861518
Año       15.908999
Mes        3.448629
dtype: float64

In [30]:
df0.median()

Precip       0.0
Evap         5.8
Tmax        30.0
Tmin         9.5
Año       1980.0
Mes          7.0
dtype: float64

In [32]:
df0.max()

Precip                   87.5
Evap                     17.5
Tmax                       48
Tmin                       35
NFecha    2011-07-31 00:00:00
Año                      2011
Mes                        12
dtype: object

In [33]:
df0.min()

Precip                      0
Evap                      0.1
Tmax                       -1
Tmin                      -12
NFecha    1961-04-10 00:00:00
Año                      1961
Mes                         1
dtype: object

In [35]:
df0.describe()

,Precip,Evap,Tmax,Tmin,Año,Mes
count,13780.000000,8623.000000,13406.000000,13407.000000,13796.000000,13796.000000
mean,1.233193,6.088658,29.129845,10.388215,1983.585242,6.518121
std,5.145288,3.026133,7.423063,6.861518,15.908999,3.448629
min,0.000000,0.100000,-1.000000,-12.000000,1961.000000,1.000000
25%,0.000000,3.600000,23.000000,5.000000,1970.000000,4.000000
50%,0.000000,5.800000,30.000000,9.500000,1980.000000,7.000000
75%,0.000000,8.100000,35.000000,16.500000,2002.000000,10.000000
max,87.500000,17.500000,48.000000,35.000000,2011.000000,12.000000